* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: #fed766;
}

/* header syling */
header {
    height: 12vh;
    background: #2ab7ca;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5vh 2vw;
    background: #2ab7ca;
}

a, span {
    background: #2ab7ca;
    color: white;
    text-decoration: none;
}

/* homepage styling */
#homepage {
    text-align: center;
    background-color: #fe4a49;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#homepage h1 {
    font-size: 40px;
    word-break: wrap;
    padding: 10px;
    border-radius: 7px;
}

#homepage h2 {
    font-size: 20px;
    margin: 5vh;
    padding: 10px;
    border-radius: 7px;
}

#start {
    background: #2ab7ca;
    color: white;
    padding: 15px;
    border-radius: 7px;
}

#questionpage {
    display: none;
    flex-direction: column;
    padding: 15vh;
    background-color: blue;
}

.askQuestion {
    font-size: 30px;
    background-color: #fe4a49;
    padding: 25px;
    text-align: center;
}

.answerList {
    padding: 10px 10vw;
    background-color: #fe7f9e;
    display: flex;
    flex-direction: column;
}

.answerList li {
    padding: 5px 5px;
    margin: 5px ;
    border: none;
    background-color: #FCBACB;
    border-radius: 7px;
}

.answerList li:hover {
    background-color: #f25278;
}

#resultspage {
    display: none;
    flex-direction: column;
    text-align: center;
}

#resultspage h2 {
    font-size: 30px;
    padding: 50px 20px;
    background: #FCBACB;
}

#finalscore {
    background: #2ab7ca;
    padding: 15px;
    font-size: 25px;
}

form {
    padding-top: 15px;
}

#initials {
    background-color: white;
    padding: 10px;
}

#submit {
    padding: 5px;
    background-color: #FCBACB;
    font-weight: bolder;
    margin: 10px;
}

label, #submit {
    font-size: 20px;
}

#scorepage {
    display: none;
    flex-direction: column;
}

#scorepage h2 {
    background: #2ab7ca;
    font-size: 30px;
    padding: 50px 20px;
    text-align: center;
    background: #2ab7ca;
    font-size: 30px;
}

#scoreboard {
    padding: 20px;
    padding-left: 40vw;
    background: blue;
    display: flex;
    flex-direction: column;
}

#scoreboard li {
    background: blue;
    padding: 5px;
    color: white;
}

#buttons {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}

#buttons a, #buttons span {
    border: 5px solid blue;
    padding: 5px;
    color: black;
    text-decoration: none;
    background-color: #2ab7ca;
}

@media screen and (max-width: 770px) {
}

@media screen and (max-width: 480px) {

    #homepage {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    #homepage h1 {
        font-size: 30px;
    }
    #homepage h2 {
        font-size: 16px;
    }
    
    #questionpage {
        padding: 5vh 5vw;
    }

    .askQuestion {
        font-size: 20px;
    }

    .answerList {
        padding: 5vh 5vw;
    }
    
    .answerList li {
        margin-left: 10px;
    }
}