* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: #fed766;
}

/* header syling */
header {
    height: 12vh;
    background: #2ab7ca;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5vh 2vw;
    background: #2ab7ca;
}

a, span {
    background: #2ab7ca;
    color: white;
    text-decoration: none;
}

/* homepage styling */
#homepage {
    text-align: center;
    background-color: #fe4a49;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#homepage h1 {
    font-size: 40px;
    word-break: wrap;
    padding: 10px;
    border-radius: 7px;
}

#homepage h2 {
    font-size: 20px;
    margin: 5vh;
    padding: 10px;
    border-radius: 7px;
}

#start {
    background: #2ab7ca;
    color: white;
    padding: 15px;
    border-radius: 7px;
}

#questionpage {
    display: none;
    flex-direction: column;
    padding: 15vh;
    background-color: blue;
}

.askQuestion {
    font-size: 30px;
    background-color: #fe4a49;
    padding: 20px 0px 20px 15vw;
}

.answerList {
    padding: 20px 20vw;
    background-color: #fe7f9e;
    display: flex;
    flex-direction: column;
}

.answerList li {
    padding: 5px 5px;
    margin: 5px ;
    border: none;
    background-color: #FCBACB;
    border-radius: 7px;
}

.answerList li:hover {
    background-color: #f25278;
}

#resultspage {
    display: none;
    flex-direction: column;
    text-align: center;
}

#resultspage h2 {
    font-size: 30px;
    padding: 50px 20px;
    background: #FCBACB;
}

#finalscore {
    background: #2ab7ca;
    padding: 15px;
}